.layoout{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.sidebar{
    background-color: rgb(200, 240, 174);
    text-align: center;
    margin: 5px;
}
.main-section{
    background-color: rgba(207, 196, 196, 0.8);
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin: 5px;
}
.break-time button{
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: rgb(194, 218, 178);
}
@media only screen and (max-width: 600px){
    .main-section{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        margin: 2px;
}
.sidebar{
    text-align: center;
    margin: 2px;

}
.sidebar h1, h3{
    font-size: small;
}
}